<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.leonardomacedo_cursomobile">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Restaurante"></activity>
        <activity android:name=".CategoriaNatacao" />
        <activity android:name=".MediaUnama" />
        <activity android:name=".ValorY" />
        <activity android:name=".PesoPlaneta" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PrecoGasolina"
            android:label="@string/preco_gasolina" />
        <activity
            android:name=".Animais"
            android:label="@string/title_page_animais" />
        <activity
            android:name=".Operadora"
            android:label="@string/title_page_op" />
        <activity
            android:name=".CalculoPeso"
            android:label="@string/title_Calculo" />
        <activity
            android:name=".CalculoGasolina"
            android:label="@string/calculo_gasolina" />
    </application>

</manifest>